@import "fonts.css";

body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;;
}

* {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: lighter;

}
/*header */

h3 {
    width: 100%;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3::first-letter {
    color: #dca453 ;
}

.aw-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}

.aw-align-center {
    align-items: center;
}

.aw-main-banner {
    display: block;
    width: 100%;
}
header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    padding:10px 0 10px 0;
    z-index: 99;
    margin: 10px 0;
    transition: all .3s ease;
} 

header nav.aw-nav-fixed {
    background: rgb(0, 0, 0, .5);
    margin: 0;
}

header nav ul.aw-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul.aw-navigation li a {
    display: block;
    padding: 0 16px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

header nav ul.aw-navigation li a:after {
    content: "";
    display: block;
    height: 1px;
    width: 0;
    background-color: #ffff;
    transition: all 0.5s ease;
    opacity: 0;
}

header nav ul.aw-navigation li a:hover:after {
    width: 100%;
    opacity: 1;
}

header nav ul.aw-navigation li:last-child a {
    padding-right: 0;
}

.aw-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
}

.aw-header-text .aw-arrow {
    display: inline-block;
    padding: 20px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    cursor: pointer;
    transition: opacity .3s ease;
}

.aw-header-text .aw-arrow:hover {
    opacity:  .7;
}

/* Sections */

.aw-sections { 
    padding: 85px 0;
}

/* About us*/

#aw-about .aw-column {
    width: 48%;
    margin-top: 25px;
    text-align: center;
}

#aw-about i {
    font-size: 45px;
    color:#dca453;
}

/* Gallery */

#aw-gallery {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#aw-gallery li {
    width: 20%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
} 

#aw-gallery li img {
    display: block;
    width: 100%;
    transition: all .3s ease;
}


#aw-gallery li:after {
    display: block;
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    transition: all 0.3s ease;
}

#aw-gallery li:hover:after{
    height: 0;
    width: 0;
}

#aw-gallery li:hover img {
transform: scale(1.2);
}
/*logo */

.aw-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: black;
    color: white;
    font-size: 26px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 100%;
}
/* Testimonials */

#aw-testimonials {
 display: flex; 
 flex-direction: column;
 align-items: center;
}

.aw-testimonials {
max-width: 500px;
position: relative;
}

.aw-testimonials ul {
display: flex;
padding: 0;
list-style-type: none;
overflow: hidden;
}

.aw-testimonials ul li {
min-width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  
}

.aw-testimonials ul li .aw-user-data img {
    border-radius: 100%;
}

.aw-testimonials ul li .aw-user-name {
    display: block;
    margin: 15px 0;
}

.aw-testimonials ul li>p {
    font-size: 20px;
    font-style: italic;
    color: #cccc;
    text-align: center  ;
}

.aw-testimonials .aw-arrow {
    display: inline-block;
    padding: 20px;
    border: solid #eee;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    transition: opacity .3s ease;
    position: absolute;
    top: 50%;
    transition: border-color 0.3s ease;
}

.aw-testimonials .aw-arrow.aw-arrow-left {
    transform: rotate(135deg);
    right: 120%;
}

.aw-testimonials .aw-arrow:hover {
    border-color: #dca453;
}


.aw-testimonials .aw-arrow.aw-arrow-right {
    transform: rotate(-45deg);
    left: 120%;
}

/* Contact */

#aw-contact {
background:#f8f8f8;
}

#aw-contact form {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}

#aw-contact form input:not([type="submit"]),
#aw-contact textarea {
width: 100%;
padding: 20px;
margin-bottom: 20px;
border: solid 1px #cccc;
box-sizing: border-box;
font-size: 14px;
outline: none ;
}

#aw-contact textarea {
 height: 100px;
 resize: none;
}

#aw-contact form ::-webkit-input-placeholder{
    font-style: italic;
    color: #cccc;
}

#aw-contact input[type="submit"] {
max-width:250px;
margin: 0 auto;
border: none;
margin-top: 20px;
padding: 10px 30px;
color: #ffff;
background-color:#dca453;
box-shadow: inset 0 -3px 0 0 #c79652;
font-size: 16px;
text-transform: uppercase;
cursor: pointer;
outline: none;
transition: all .3s ease;
}

#aw-contact input[type="submit"]:hover {
 color: #3b3535;
 box-shadow: inset 0 -3px 0 0 #8f802a;
}

/* Footer */

footer {
  background-color: #444;
  padding: 10px 0;
}

footer .aw-logo {
width: 45px;
height: 45px;
font-size: 20px;
}

footer .aw-social-icons {
display: flex;
list-style-type: none;
}

footer .aw-social-icons li {
margin-left: 15px;
}

footer .aw-social-icons li a {
    display: flex;
    color: #ffff;
    transition: opacity .3s ease;
}

footer .aw-social-icons li a:hover {
    opacity: 0.7;
}
 
/* Animation */
.aw-pulsate {
    -webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .3;
} 
@keyframes pulsate {
    0% {
        opacity: .3;
    }
    50% {
         opacity: 1;
    }
    100% {
         opacity: .3;
    }
}